.card {
  position: absolute;
  display: flex;
  border-radius: 8px;
  min-width: 300px;
  min-height: 164px;
  background-image: url("../../assets/bg-card-front.png");
  background-size: 300px;
  top: 7rem;
  left: 1rem;
}

/* @media (min-width: 481px) and (max-width: 767px) {
  .card {
    min-height: 447px;
    min-height: 245px;
    background-size: 447px;
  }
} */
/* Tablet View */

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .card {
    min-width: 500px;
    min-height: 274px;
    background-size: 500px;
  }
}
