/** 
  Breakpoints:
  ------------
  sm: min-width: 640px; //small device
  md: min-width: 768px; // medium device
  lg: min-width: 1024px; // large device
  xl: min-width: 1280px; // extra large device
  2xl: min-width: 1536px; // 2 x extra large device
**/

.container {
  position: relative;
  height: calc(100vh - 62vh);
  background-image: url('/public/assets/bg-main-mobile.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.cardContainer {
  position: absolute;
  width: 300px;

  bottom: 7rem;
  left: 0;
  right: 0;

  margin: auto;
}

.innerCardContainer {
  position: relative;
}

.cardBack {
  width: 282px;
  height: 159px;

  background-size: cover;
  background-image: url('../../assets/bg-card-back.png');
  position: absolute;

  left: 20px;
  border-radius: 10px;
  bottom: -69px;
}

.cardFront {
  position: absolute;
  display: flex;

  width: 282px;
  height: 159px;

  background-size: cover;
  background-image: url('../../assets/bg-card-front.png');

  left: -20px;
  border-radius: 10px;
}

.cardNumber {
  display: flex;
}

@media only screen and (min-width: 640px) {
  .cardBack {
    width: 305px;
    height: 167px;
  }

  .cardFront {
    width: 305px;
    height: 167px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    height: 100%;
    width: 33%;
  }

  .cardContainer {
    position: absolute;
    bottom: 50%;
    margin: auto 0;
    left: 85px;
  }

  .cardBack {
    right: -30%;
    width: 335px;
    height: 183px;
    bottom: -200px;
  }

  .cardFront {
    bottom: 50%;
    right: -20%;
    width: 335px;
    height: 183px;
  }
}

@media only screen and (min-width: 1280px) {
  /* For desktop */
  .cardContainer {
    left: 142px;
    right: unset;
  }

  .container {
    width: 28rem;
  }

  .cardFront {
    left: unset;
    right: -17%;
    top: -15rem;
  }

  .cardBack {
    top: 55%;
  }

  .cardBack,
  .cardFront {
    width: 408px;
    height: 223px;
  }
}

.frontCardContainer {
  padding: 1rem;
  width: 100%;
}

.lowerLine {
  display: flex;
  justify-content: space-between;
}
